
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title></title>
  <!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">  -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./assets/css/style.css">
  <link rel="stylesheet" href="./assets/css/query.css">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="app">
    <header>
    	<h1 @click="inicio">{{ domain }}</h1>
    	<a v-for="link in links" :class="{ link_ativo: linkAtivo.name == link.name}" @click="acessLink(link)"> {{ link.name }} </a>
    </header>

	<div class="who_is" v-if="me.name == ''">

	</div>

    <main v-if="linkAtivo.name == 'Home'">
    	<div class="background" v-if="user_vendo.name == ''"></div>
    	<div class="what box white" v-if="!logged && user_vendo.name == ''">
    		<h1>Qual seu nickname em League of Legends</h1>
    		<input type="" v-model="user.nickname" name="" placeholder="Qual seu username?" v-on:keyup.enter="changeNickName">
    		<div style="padding:10px 0px 10px;" class="suggestion white animate" v-if="recentes_users.length > 0 && !loading_data">
				<a style="padding: 10px;" v-for="recentes_user in recentes_users" @click="acess(recentes_user)">{{ recentes_user.name }} <span>-</span> </a>
    		</div>
    		<div class="tabs">
				<a>Buscas recentes</a>
				<a style="float: right; right: 20px; position: absolute;" @click="limparRecentes">Limpar</a>
			</div>
			<div class="loading" v-if="loading_data">
				<h1 style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: #fff;">Aguarde..</h1>
			</div>
    	</div>
		
		<div class="show_info" v-if="!user_vendo.name == ''">
			<div class="relative">
			<img :src="avatar_vendo" alt="" class="avatar">
			<div class="level">{{ user_vendo.summonerLevel }}</div>
			<h1>{{ user_vendo.name }}</h1>
			<div class="tabs">
				<a>Summary</a>
			</div>
			</div>
		</div>

		<div class="show_info" v-if="user_vendo == 'not_found'">
				<div class="relative">
				<p v-if="user.vendo == 'not_found'">
						<p style="font-size: 22px">Este invocador não está registrado no VSF.GG. Verifique a ortografia.</p>
						<br>
						<img src="https://developer.riotgames.com/static/img/sad_amumu.3756e7f1d591.png" alt="">
						<br>
						<button @click="tryAgain">Tentar novamente</button>
				</p>
				</div>
		</div>

    </main>

</div>

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script  src="./scripts/index.js"></script>

</body>
</html>