*{
	padding: 0px;
	margin: 0px;
}

:root{
	--blue : #5383e8;
}

body,html{
	font-family: 'Ubuntu', sans-serif;
	background: #232323;
	color: #fff;
}

body, html{
    width:100%;
    height:100%;
    font-family:'Ebrima';
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Chrome/Safari/Opera */
       -khtml-user-select: none; /* Konqueror */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none;
    -webkit-font-smoothing: antialiased !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
 }

::-webkit-scrollbar {
    width: 14px;
    z-index: 10000;
}
::-webkit-scrollbar:hover{
   -webkit-transition: 0.7s ease-in;
    -moz-transition: 0.7s ease-in;
    -o-transition: 0.7s ease-in;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: 10000;	
}
::-webkit-scrollbar-thumb {
   height: 6px;
   border: 4px solid rgba(0, 0, 0, 0);
   background-clip: padding-box;
   -webkit-border-radius: 7px;
   background-color: rgba(178, 178, 178, 0.7);
   z-index: 10000;
}
::-webkit-scrollbar-button{
   width: 0;
   height: 0;
   display: block;
   z-index: 10000;
}
::-webkit-scrollbar-corner {
   background-color: transparent;
}


.background{
	position: fixed;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-image: url('https://miro.medium.com/max/2800/1*sbboeurksXbObDd9hm-YZw.png');
	left: 0px;
	top: 0px;
	background-blend-mode: overlay | soft-light | multiply | hard-light | lighten | luminosity;
}

.background::after{
	content: '';
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.60);
	top: 0px;
	left: 0px;
	position: fixed;
	background-blend-mode: overlay | soft-light | multiply | hard-light | lighten | luminosity;
}

header{
	position: fixed;
	width: 100%;
	height: auto;
	padding: calc(2rem - 10px);
	font-size: calc(1.7rem - 4px);
	display: flex;
	color: #fff;
	z-index: 4000;
}

header a{
	margin: 10px 20px;
	cursor: pointer;
	padding: 5px;
	position: relative;
	top: -12px;
	left: 30px;
}

.link_ativo{
	border-bottom: 4px solid #fff;
}

main{
	position: relative;
	top: 150px;
	padding: 20px;
	z-index: 200;
}

.what input{
	width: calc(100% - 10px);
	border: none;
	outline: none;
	padding: calc(2vw - 20px);
	margin-top: 0px;
	padding: 10px;
	margin-top: 20px;
	font-size: calc(2.3em - 18px);
	border-bottom: 2px solid transparent;
	transition: 0.5s ease-out;
}

.what input:focus{
	border-bottom: 2px solid var(--blue);
}

.box{
	box-sizing: border-box;
	max-width: 400px;
	position: relative;
	margin: 0px auto;
	height: auto;
	padding: 45px;
	border-radius: 2px;
}

.white{
	background: #fff;
	color: #151515;
}

h1{
	font-size: calc(2em - 1rem + 5px);
}

.what .tabs{
	width: 100%;
	position: absolute;
	background: var(--blue);
	padding: 10px 0px 10px;
	left: 0px;
	bottom: 0px;
	color: #fff;
}

.what a{
	text-transform: uppercase;
	cursor: pointer;
	margin-left: 10px;
}

.suggestion{
	transform: translateY(40px);
	top: 30px;
}

.animate{
	-webkit-animation-name: bounce; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
  animation-name: bounce;
  animation-duration: 0.5s;
}

@-webkit-keyframes bounce {
  0% {transform : translateY(10px)}
  100% {transform: translateY(40px)}
}

.suggestion{
	position: absolute;
	width: 100%;
	height: auto;
	top: 160px;
	left: 0px;
	z-index: 100;
}

p{
	white-space: pre-wrap;
	word-wrap: break-word;
}

.suggestion p{
	margin: 10px;
}