*{
	padding: 0px;
	margin: 0px;
}

:root{
	--blue : #5383e8;
}

body,html{
	font-family: 'Ubuntu', sans-serif;
	background: #f1f1f1;
	color: #fff;
}

body, html{
    width:100%;
    height:100%;
    font-family:'Ebrima';
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Chrome/Safari/Opera */
       -khtml-user-select: none; /* Konqueror */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none;
    -webkit-font-smoothing: antialiased !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
 }

::-webkit-scrollbar {
    width: 14px;
    z-index: 10000;
}
::-webkit-scrollbar:hover{
   -webkit-transition: 0.7s ease-in;
    -moz-transition: 0.7s ease-in;
    -o-transition: 0.7s ease-in;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: 10000;	
}
::-webkit-scrollbar-thumb {
   height: 6px;
   border: 4px solid rgba(0, 0, 0, 0);
   background-clip: padding-box;
   -webkit-border-radius: 7px;
   background-color: rgba(178, 178, 178, 0.7);
   z-index: 10000;
}
::-webkit-scrollbar-button{
   width: 0;
   height: 0;
   display: block;
   z-index: 10000;
}
::-webkit-scrollbar-corner {
   background-color: transparent;
}


.background{
	position: fixed;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-image: url('https://lolstatic-a.akamaihd.net/rso-login-page/1.7.14/assets/bg.jpg');
	left: 0px;
	top: 0px;
	background-blend-mode: overlay | soft-light | multiply | hard-light | lighten | luminosity;
}

.background::after{
	content: '';
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.60);
	top: 0px;
	left: 0px;
	position: fixed;
	background-blend-mode: overlay | soft-light | multiply | hard-light | lighten | luminosity;
}

header{
	position: fixed;
	width: 100%;
	height: auto;
	padding: calc(2rem - 10px);
	font-size: calc(1.7rem - 4px);
	display: flex;
	color: #fff;
	z-index: 4000;
	background: var(--blue);
}

header h1{
	cursor: pointer;
}

header a{
	margin: 10px 20px;
	cursor: pointer;
	padding: 5px;
	position: relative;
	top: 33px;
	left: 30px;
}

.link_ativo{
	border-bottom: 4px solid #fff;
}

main{
	position: relative;
	top: 150px;
	padding: 20px;
	z-index: 200;
}

.what input{
	width: calc(100% - 10px);
	border: none;
	outline: none;
	padding: calc(2vw - 20px);
	margin-top: 0px;
	padding: 10px;
	margin-top: 20px;
	font-size: calc(2.3em - 18px);
	border-bottom: 2px solid transparent;
	transition: 0.5s ease-out;
}

.what input:focus{
	border-bottom: 2px solid var(--blue);
}

.box{
	box-sizing: border-box;
	max-width: 400px;
	position: relative;
	margin: 0px auto;
	height: auto;
	padding: 45px;
	border-radius: 2px;
}

.white{
	background: #fff;
	color: #151515;
}

h1{
	font-size: calc(2em - 1rem + 5px);
}

.what .tabs{
	width: 100%;
	position: absolute;
	background: var(--blue);
	padding: 10px 0px 10px;
	left: 0px;
	bottom: 0px;
	color: #fff;
}

.what a{
	text-transform: uppercase;
	cursor: pointer;
	margin-left: 10px;
}

.suggestion{
	position: absolute;
	width: 100%;
	height: auto;
	top: 215px;
	left: 0px;
	z-index: 100;
}

.suggestion a{
	color: #151515;
	font-size: 17px;
}

p{
	white-space: pre-wrap;
	word-wrap: break-word;
}

.suggestion p{
	margin: 10px;
}

.box p{
	font-size: 21px;
	padding: 10px;
}

.show_info{
	color: #151515;
}

.relative{
	max-width: 900px;
	margin: 0px auto;
	position: relative;
}

.show_info h1, img{
	display: flex;
	padding: 10px;
}

.avatar{
	width: 140px;
    height: 140px;
}

.level{
	width: 40px;
    font-size: 15px;
    text-align: center;
    color: #f1f1f1;
    background: #5383e8;
    border-radius: 10px 10px;
    top: 4px;
    position: absolute;
}

.show_info .tabs{
	background: #5383e8;
    width: 100%;
    position: relative;
    padding: 19px;
    margin-top: 26px;
    color: #fff;
}

.show_info .tabs a{
	background: rgba(0,0,0,.40);
	padding: 19px;
	cursor: pointer;
}

button{
	border: none;
    outline: none;
    background: var(--blue);
    color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.loading{
	width: 100%;
	background: var(--blue);
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	-webkit-animation: fadeInFromNone 0.5s ease-out;
    -moz-animation: fadeInFromNone 0.5s ease-out;
    -o-animation: fadeInFromNone 0.5s ease-out;
    animation: fadeInFromNone 0.5s ease-out;
}

@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-moz-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-o-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}	